[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pyhamcrest = "*"
mbtest = "*"
bpython = "*"
pytest-datadir = "*"

[packages]
jira = "*"
python-dotenv = "*"
click = "*"
requests = "*"

[requires]
python_version = "3.7"
